<header
  [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
  <h2>{{medium | titlecase}}</h2>
  <div *ngIf="mediaItems">{{ mediaItems | categoryList | titlecase }}</div>
</header>
<section>
  <app-mw-media-item
    [ngClass]="{'medium-movies': mediaItem.medium==='movies', 'medium-series':mediaItem.medium==='series'}"
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)"></app-mw-media-item>
</section>
<footer>
  <a routerLink="/add">
    <img src="assets/01.png" alt="Add" class="icon">
  </a>
</footer>
